body{
	background:#222 url("https://www.ecopetit.cat/wpic/mpic/24-246322_high-quality-star-wars-background.jpg") no-repeat fixed center;
}
h1{
	font-size: 18px;
	color:red;
}
.isactive, .isactive:hover{
	background: #26a1e8;
	color: #f8f8f8!important;
}
.login-container{
	margin-top: 12.5%;
	border:1px;
	padding: 20px !important;
	box-shadow: inset 0px 0px 3px #eee;
	background: rgba(55, 50, 53, 0.6);
}
.login-btn{
	background: #b9473d !important;
	width :100%;
	color: #fff;
}
.login-page input{
	color:#fff;
	background-color:  rgba(55, 50, 53, 0.6);
}
.login-title{
	text-align: center;
	font-size: 24px;
	padding: 0px 10px;
	color:#fff;
}

.page-header{
	background-color: #222;
}

.error {
	border: 1px solid red;
	border-radius: 5px;
}

.success {
	border: 1px solid green;
	border-radius: 5px;
}

.error-title {
    font-size: 18px;
    color: red;
}

.error-message {
    font-size: 14px;
    color: red;
}

.success-title {
    font-size: 18px;
    color: green;
}

.success-message {
    font-size: 14px;
    color: green;
}

.loader-container {
    width: 100%;
    height: 100%;
    position: absolute;
	background: rgba(225, 225, 225, .8);
    z-index: 1;
}

.preloader-wrapper.big.active {
    top: 48%;
    left: 48%;
    position: absolute;
    z-index: 999;
}

.logout {
    position: absolute;
    color: #fff;
    right: 1%;
    top: 0;
    float: right;
}

.star-wars-container {
	background: rgb(255, 255, 255);
	min-height: 640px;
}